Repository AirOne01/anilist-banner, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, src, pug_templates, style

.github/labeler.yml:

repo:
- '*'

src:
- 'src/**/*'

pug_templates:
- 'views/**/*.pug'

style:
- 'public/**/*.css'

Update README.md
  README.md
Labels: repo

Clean up
  .eslintignore
  README.md
  tailwind.config.js
Labels: repo

Add markdownlint config
  .markdownlint.yaml
Labels: repo

Add numerous things
  .eslintrc.yml
  .nodemonignore
  package.json
  src/index.ts
  tailwind.config.js
  views/api.pug
  yarn-error.log
  yarn.lock
Labels: repo, src, pug_templates

Replace Eslint with Standard
  .eslintignore
  .eslintrc.yml
  .github/workflows/lint.yml
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Labels: repo

Patch lint.yml
  .github/workflows/lint.yml
Labels: none

Patch lint.yml
  .github/workflows/lint.yml
Labels: none

Add main page
  package.json
  public/index.html
  src/index.ts
  views/api.pug
Labels: repo, src, pug_templates

Make the index page's text white
  public/index.html
Labels: none

Enhance index
  public/index.html
Labels: none

Update README.md
  README.md
Labels: repo

Add dynamic avatar
  src/index.ts
  views/api.pug
  yarn.lock
Labels: repo, src, pug_templates

Add documentation
  public/index.html
  src/index.ts
  views/api.pug
Labels: src, pug_templates

Improve workflow efficiency
  package.json
Labels: repo

Switch config to windows for increased build time
  package.json
  tailwind.config.js
Labels: repo

Normalise some files
  package.json
  tailwind.config.js
Labels: repo

Patch misconfiguration for Heroku
  package.json
Labels: repo

feat!: kill project
  README.md
Labels: repo
